* {
	color: white;
	background-color: black;
}

html {
	content: "no-preference"; /* These are for JS prefered-color-scheme detection */
}

@media (prefers-color-scheme: light) {
	* {
		color: black;
		background-color: white;
	}

	html {
		content: "light"; 
	}
}

@media (prefers-color-scheme: dark) {
	* {
		color: white;
		background-color: black;
	}

	html {
		content: "dark"; 
	}
}

#date {
	font-family: 'Courier New', Courier, monospace;
}